body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#scrollToTopBtn,
#scrollToBottomBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#scrollToTopBtn {
    bottom: 80px;
}