/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --quans-color: #9e4c05;
    --anser-color: rgb(20, 86, 22);
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
}

.navbar.dark-mode-nav {
    background-color: #111;
    color: #fff;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    /* Add margin to create space */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Menu toggle button for mobile */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Footer styles */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 0px 0px 17px 40px;
        width: 100%;
        /* Adjust width for better responsiveness */
        position: absolute;
        top: 65px;
        right: 0;
        z-index: 1;
    }

    .nav-links li {
        margin: 10px;
        padding: 10px;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    color: #fff;
    position: fixed;
    overflow: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    top: 0;
}

.menu.dark-mode-menu {
    background-color: #111;
    color: #fff;
}

.menu a {
    padding: 0px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    margin: 20px;
}

.menu a:hover {
    /* background-color: transparent; */
    color: black;
}

.open-button {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.open-button.dark-mode-button {
    background-color: #111;
    color: #fff;
}

/* Main content styling */
.main-content {
    margin-left: 0;
    /* Adjust margin for better responsiveness */
    transition: 0.5s;
    padding: 20px;
    margin-top: 70px;
    /* Adjust padding for better spacing */
    padding-bottom: 60px;
    /* Ensure content doesn't get hidden behind the footer */
}

.main-content h1, h2, p {
    height: 50px;
}

/* swipe button */

.swipe-container {
    margin-top: 20px;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.dark-mode-form {
    background-color: #111;
    color: #fff;
}