<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
</head>

<body>
    <!-- Your website content goes here -->

    <!-- Footer -->
    <footer class="footer">
        <div class="version">
            <p>Version :<span th:text="${version}"></span></p>
        </div>
        <div class="file-name">
            <p>Edit File : <span th:text="${file.fileName}"></span></p>
        </div>
        <div class="date-time">
            <span id="date"></span>
            <span id="time"></span>
        </div>
    </footer>
</body>

</html>