.footer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: black;
    height: 20px;
}
.footer .file-name p span{
    margin-left: 8px;
}
.footer p{
    margin-left: 134vh;
}
.footer .version {
    align-items: center;
    display: flex;
    background-color: rgb(113, 238, 113);
    height: 19px;
}
.footer .version p{
    margin-left: 5px;
}
.footer .version p span{
    margin-left: 8px;
}
.footer span {
    /* position: fixed;
    right: 0;
    padding: 0px 50px 0px; */
    margin-left: 30px;
}